In [29]:
pet_name = "Huxley"
colour_name = "Blue"

class pet_sweater_colour:
    '''This class returns the pet name and the colour of the sweater it is wearing'''
    def __init__ (self, pet_name, colour_name):
        self.name = pet_name
        self.colour = colour_name 
        
    def sweater_colour(self):
        return print(f"({self.name.title()} is wearing a {self.colour} sweater)")

sweater = pet_sweater_colour(pet_name, colour_name)
print(sweater.pet_name)

AttributeError: 'pet_sweater_colour' object has no attribute 'pet_name'

In [26]:
def sweater_colour(self):
    print(f"{self.name} is wearing a {self.colour}")

In [27]:
pet_sweater_colour("Huxley", "Blue")

In [28]:
# Use format  f{} to print a name o
name = "Json"
message = f"Hello {name}"
print(message)

Hello Json

In [7]:
# remove white spaces from a sentence 
sentence = "   Alice in wonderland is a great book  "

#remove left whitespace 
sentence.lstrip()

'Alice in wonderland is a great book  '

In [9]:
#remove right  whitespace 
sentence.rstrip()

'   Alice in wonderland is a great book'

In [10]:
#remove left AND right whitespace 
sentence.strip()

'Alice in wonderland is a great book'

In [11]:
#addition
2+3

5

In [14]:
#subtraction 
5-3

2

In [15]:
# multiplication
2*3

6

In [17]:
#division 
6/3

2.0

In [18]:
# power
3**2

9

In [19]:
#power example 2 
2 ** 3

8

# Title 
## subtitle
### title 3
#### title 4
##### title 5
###### title 6 is the same as title 5

In [12]:
# Sometimes Python tries to get the numbers as exact as possible hence this can happen
# the result should be 0.2 * 0.1 = 0.02 
0.2 * 0.1

0.020000000000000004

## Lists

- lists are declared with `[  ]`
- the first position starts with zero

### Strings
 Strings can be declared with `' '` or `" "`

In [16]:
name_list = ["George", "hana","Ray"]
print(name_list)

['George', 'hana', 'Ray']

In [14]:
# print the 2nd element of the list, with the first letter an uppercase
name_list[1].title()

'Hana'

In [28]:
# print the first element of the lists
name_list[0]

'George'

In [31]:
# create a list bycicles and compose a message to print info from it
bycicle = ['trek','cannondale',"redline", "specialized"]
message = f"My first bycicle was a {bycicle[0].title()}"
print(message)

My first bycicle was a Trek

In [32]:
#print last element of the list
bycicle[-1]

'specialized'

In [33]:
# print a message to the names from the name_list
message = f"Hello there {name_list[0]}"
print(message)

Hello there George

In [34]:
# modify the element of a list
name_list[0] = "Frederic"
print(name_list)

['Frederic', 'hana', 'Ray']

In [35]:
#add element to the list 
name_list.append("Joe")
print(name_list)

['Frederic', 'hana', 'Ray', 'Joe']

In [38]:
# alternate method of creating a list and adding elements
# 1. Create an empty list with a variable name
motorcycle = []
#2. Add elements to the list
motorcycle.append("toyota")
motorcycle.append("honda")
motorcycle.append("suzuki")
print(motorcycle)

['toyota', 'honda', 'suzuki']

Note: You can only append one element at a time

In [41]:
# remove an element of the list using del 
motorcycle = ["toyota", "suzuki", 'motorola']
print(motorcycle)

del motorcycle[0]
print(motorcycle)

['toyota', 'suzuki', 'motorola']
['suzuki', 'motorola']

The method `.pop()` lets you remove the last element of the list and you are able to work with it

In [43]:
# remove an element of the list using pop()
motorcycle = ["toyota", "suzuki", 'motorola']
print(motorcycle)

popped_motorcycle = motorcycle.pop()
print(popped_motorcycle)
print(motorcycle)

['toyota', 'suzuki', 'motorola']
motorola
['toyota', 'suzuki']

The method `.pop()` can allow you to specify which element to remove

In [48]:
motorcycle = ["toyota", "suzuki", 'motorola']
popped_motorcycle = motorcycle.pop(0)

message = f"My first motorcycle was {popped_motorcycle.title()}"
print(message)

print(motorcycle)

My first motorcycle was Toyota
['suzuki', 'motorola']

In [50]:
# Remove an item by value

motorcycle = ["toyota", "suzuki", 'motorola']
motorcycle.remove("toyota")
print(motorcycle)

['suzuki', 'motorola']

In [53]:
# Remove an item by value
# -- alternative 
motorcycle = ["toyota", "suzuki", 'motorola']
remove_me = 'toyota'
motorcycle.remove(remove_me)
print(motorcycle)

['suzuki', 'motorola']

The `remove()` method deletes only the first encounter in the list

# Lists

In [1]:
magicians = ['alice', 'luna', 'david']
for magician in magicians:
    print(magician)

alice
luna
david

In [2]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick~")

Alice, that was a great trick~
Luna, that was a great trick~
David, that was a great trick~

In [3]:
#numerical lists 

for value in range (1,5):
    print(value)

1
2
3
4

In [5]:
# Create lists of numbers using range
numbers = list(range(6))
print(numbers)

[0, 1, 2, 3, 4, 5]

In [8]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
# print even numbers
even_numbers = list(range(1,11,2))
even_numbers

[1, 3, 5, 7, 9]

The range works like this: 
 - first value is the starting point
 - second value is the ending point
 - third value is the step size

In [12]:
# Calculate the square of the first 10 integer numbers
squares = []
for value in range (1, 11):
    square = value **2 
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# simpler, alternate version 
squares = []
for value in range (1, 11):
    squares.append(value **2 )
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
# EVEN SIMPLER VERSION
squares = [value**2  for value in range (1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
digits = list(range(0,10))
digits

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
min(digits)

0

In [17]:
max(digits)

9

In [18]:
sum(digits)

45

In [26]:
#EXAMPLE - CAlculate the sum of 1000 numbers
sum_thousand = 0
for value in range (0,1000):
    sum_thousand = sum_thousand + value
print (sum_million)

499500

In [27]:
# Example: make a list of multiples of 3 from 3 to 30.  Use a for loop to print the numbers
odd_numbers = []
for num in range(3,30):
    if num%3 == 0:
        print(num)

3
6
9
12
15
18
21
24
27

In [29]:
#Example: Make a list of cubes for hte first 10 numbers
cubes = [num**3 for num in range (1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# List Comprehension

~ used to create a new list from other iterables

In [30]:
# example using list comprehension
cubes = [num**3 for num in range (1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Slicing a list

In [31]:
# position 1,2,3 (note that it starts from ZERO )
cubes [1:4]

[8, 27, 64]

In [32]:
# If no index mentioned it starts at the beginning
cubes [:4]

[1, 8, 27, 64]

In [ ]:
# if no index mentioned for the end, it goes till the last element

In [33]:
cubes[2:]

[27, 64, 125, 216, 343, 512, 729, 1000]

In [34]:
# Retrieve the last 3 elements of a list
cubes[-3:]

[512, 729, 1000]

# Looping through a slice

In [35]:
# print first 3 elements in the list 
for num in cubes [:3]:
    print(num)

1
8
27

# Copy a list

In [37]:
new_list = cubes [:]
print(new_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [38]:
new_list.append("4lol5")
print(new_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, '45']

# Tuples 
~ are lists that you cannot change 

~ referred to as immutable 

A tuple are usually defined using round paranthesis (though they are optional) `()` but are DEFINED by the commas

In [39]:
# create a tuple named dimensions
dimensions = (200,50)
print(dimensions[0])
print(dimensions[1])

200
50

In [40]:
# Try and modify a typle 
dimensions = (200,50)
dimensions[0] = 300

TypeError: 'tuple' object does not support item assignment

In [41]:
# example: build a tuple with only one elements
my_t = (3,)
print(my_t)
print(type(my_t))

(3,)
<class 'tuple'>

In [42]:
# print elements from a tuple
# Tuples behave like lists  -- ish
for dimension in dimensions:
    print(dimension)

200
50

# Write over a tuple  -- NOT POSSIBLE

In [46]:
dimensions = (200,50)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)
    
dimensions = (400,100)
print("\nNew dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

New dimensions:
400
100

In [47]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# IF Statements

In [50]:
# Create a list of cars and uppercase the one that matches 'bmw'
cars = ['subaru', 'nissan', 'toyota', 'bmw']

for car in cars: 
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Subaru
Nissan
Toyota
BMW

In [51]:
# conditional test
car == 'bmw'

True

In [52]:
# this returns false as the uppercase is different and trhe string is not considered to be teh asme 

car = 'Audi'
car == 'audi'

False

In [53]:
#ignoring case when checking for equality 
car = 'Audi'
car.lower() == 'audi'

True

In [54]:
# Checking for INEQUALITY
requested_toppings = 'mushrooms'
if requested_toppings == 'anchovies':
    print("Hold the anchovies!")

In [55]:
age = 18 
age == 18

True

In [56]:
answer = 17
if answer !=42:
    print("That is not the correct answer. Try again.")

That is not the correct answer. Try again.

In [57]:
age = 19
age < 21

True

In [58]:
age <=21

True

In [59]:
age > 21

False

In [60]:
age >= 21

False

# check multiple conditions
~ can use paranthesis to increase readability

In [61]:
age_0 = 22
age_1 = 18
age_0 >=21 and age_1 >=21

False

In [63]:
age_0 = 22
age_1 = 22
age_0 >=21 and age_1 >=21
# same as 
(age_0 >=21 )and (age_1 >=21)

True

# check if value in a list

In [64]:
# check if value in a list
banned_users = ['andrew', 'caroline', 'david']
user = 'marie'

if user not in banned_users:
    print(f"{user.title()}, you can post a response if you wish.")

Marie, you can post a response if you wish.

In [66]:
# example
car = 'subaru'
print("is car == 'subaru' I predict True")
print (car =='subaru')

print("is car == 'audi' I predict False")
print (car =='audi')

is car == 'subaru' I predict True
True
is car == 'audi' I predict False
False

# ELSE-IF Statements 

~ `else` is NOT needed at the end of an else-if statement.

In [68]:
age = 12 
if age <4:
     price = 0
elif age <18:
    price = 25
else: price = 40

print(f"Your admission price is ${price}")

Your admission price is $25

In [70]:
age = 12 
if age <4:
     price = 0
elif age <18:
    price = 25
elif age<65:
    price = 40

print(f"Your admission price is ${price}")

Your admission price is $25

# IF Statements with Lists

In [73]:
# check if an element is in the lsit

requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']
for requested_topping in requested_toppings:
    if requested_topping == 'green peppers':
        print("Sorry, we are out of green peppers")
    else:
        print(f"Adding {requested_topping}")
print("Finished making your pizza")

Adding mushrooms
Sorry, we are out of green peppers
Adding extra cheese
Finished making your pizza

In [75]:
# check if list is empty

requested_toppings = []

if requested_toppings:
    for requested_topping in requested_toppings:
        print(f"Adding {requested_topping}")
    print("Finished making your pizza")
else: #here check if list is empty
    print("You sure you want a plain pizza?")

You sure you want a plain pizza?

# use multiple lists and if statements

In [76]:
available_toppings = ['mushrooms', 'olives', 'green peppers', 'pepperoni', 'pineapple', 'extra cheese']

requested_toppings = ['mushrooms', 'french fries', 'extra cheese']

# Check if requested toppings are  in the available ones

for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
            print(f"Adding {requested_topping}")
    else:
        print(f"Sorry, we do not have {requested_topping}")

Adding mushrooms
Sorry, we do not have french fries
Adding extra cheese

# Dictionaries 

~ can store an almost limitless amount of info 

~ declared using curly brackets: `{}`

~ format: `{key : value}` pair

In [77]:
alien = {'color': 'green', 'points': 5}
print(alien)
print(type(alien))

{'color': 'green', 'points': 5}
<class 'dict'>

In [80]:
# access the first value of the key Color
print(alien['color'])

green

In [81]:
alien['color']

'green'

In [82]:
new_points = alien['points']
print(f"You just earned {new_points} points!")

You just earned 5 points!

In [83]:
# Add new key-value pairs
alien['x-position'] = 0
alien['y-position'] = 25
print(alien)

{'color': 'green', 'points': 5, 'x-position': 0, 'y-position': 25}

In [84]:
# start with an empty dictionary then populate it
alien = {}

alien['colour'] = 'green'
alien['points'] = 5 
print(alien)

{'colour': 'green', 'points': 5}

In [86]:
alien['color'] = 'green'
print (f"The alien is now color {alien['color']}")

alien['color'] = 'yellow'
print (f"The alien is now color {alien['color']}")

The alien is now color green
The alien is now color yellow

In [87]:
# move the alien x and y positions
alien = {'x-position': 0, 'y-position':25, 'speed':'medium'}
print(alien)

#move the alien to the right 
# determine how far to move based on the speed
if alien['speed'] == 'slow':
    x_increment = 1 
elif alien['speed'] == 'medium':
    x_increment = 2 
else: 
    print("This must be a fast alien")
    x_increment = 3

# The new position is the old position + increment 
alien['x-position'] = alien['x-position'] + x_increment

print(f"New position is {alien['x-position']}")

{'x-position': 0, 'y-position': 25, 'speed': 'medium'}
New position is 2

In [88]:
# remove key- value pairs 

alien = {'color': 'green', 'points': 5}
print(alien)

del alien['points']
print(alien)

{'color': 'green', 'points': 5}
{'color': 'green'}

# Loop through dictionary

In [90]:
for key, value in alien.items():
    print(f"key: {key}")
    print(f"Value: {value}")

key: color
Value: green

In [92]:
favourite_languages = {
    'jen': 'python',
    'sarah' : 'c',
    'edward':'ruby',
    'phil': 'python', 
}
for name, language in favourite_languages.items():
    print(f"{name.title()}'s favourite programming language is {language.title()}")

Jen's favourite programming language is Python
Sarah's favourite programming language is C
Edward's favourite programming language is Ruby
Phil's favourite programming language is Python

# loop through ALL the keys in a dictionary 

The general behaviour is to loop through keys. SEE below

In [94]:
# loop through keys 
favourite_languages = {
    'jen': 'python',
    'sarah' : 'c',
    'edward':'ruby',
    'phil': 'python', 
} 

for name in favourite_languages.keys():
    print(name.title())

Jen
Sarah
Edward
Phil

In [2]:
# loop through values 
favourite_languages = {
    'jen': 'python',
    'sarah' : 'c',
    'edward':'ruby',
    'phil': 'python', 
} 

for language in favourite_languages.values():
    print(language.title())

Python
C
Ruby
Python

# SEE HERE

In [97]:
for name in favourite_languages:
    print(name.title())

Jen
Sarah
Edward
Phil

# Can sort a dictionary

In [3]:
for name in sorted(favourite_languages.keys()):
    print(f"{name.title()}, thank you for taking the poll ")

Edward, thank you for taking the poll
Jen, thank you for taking the poll
Phil, thank you for taking the poll
Sarah, thank you for taking the poll

In [7]:
# loop through dictionary values

for language in favourite_languages.values():
    print (language.title())

Python
C
Ruby
Python

# List of dictionaries

In [8]:
alien_0 = {'color': 'green', 'points':5}
alien_1 = {'color': 'red', 'points':10}
alien_2 = {'color': 'yellow', 'points':15}

In [9]:
aliens = [alien_0, alien_1, alien_2]
print(aliens)

[{'color': 'green', 'points': 5}, {'color': 'red', 'points': 10}, {'color': 'yellow', 'points': 15}]

In [10]:
type(aliens)

list

# List In Dictionary

In [11]:
# add list in a dictionary 
pizza = {
    'crust': "thick",
    'toppings': ['mushroom', 'tomato', 'cheese']
}
print(pizza)

{'crust': 'thick', 'toppings': ['mushroom', 'tomato', 'cheese']}

# Nested Dictionaries

In [12]:
users  = {
    'aeinstein': {
        'first':'albert',
        'last': 'einstein',
        'location': 'princeton',
    },
    'mcurrie': {
        'first':'marie',
        'last': 'currie',
        'location': 'paris',
    },
}

In [13]:
users

{'aeinstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurrie': {'first': 'marie', 'last': 'currie', 'location': 'paris'}}

# Input from users

In [17]:
message = input("tell me something and I'll repeat it back to you: ")
message

tell me something and I'll repeat it back to you: monkey business

'monkey business'

In [18]:
prompt = "I can personalize you a message"
prompt += "\n What is your first name? "

name = input(prompt)
print(f"{name.title()}, welcome")

I can personalize you a message
 What is your first name?Han
Han, welcome

In [20]:
# use input to accept integers
age = input("What is your age? ")
print(age)

What is your age? 34
34

In [21]:
# age is a string tho, so this won't work
age >= 18

TypeError: '>=' not supported between instances of 'str' and 'int'

# modulo operator `%` 

returns the remainder of division

In [22]:
4 %3

1

In [23]:
12 %2

0

In [25]:
number = 17
# determine if number is even 
# Note: an even number divided to 2 has 0 remainder
if number %2 == 0:
    print("even number")
else:
    print("odd number")

odd number

In [26]:
number = 34
# determine if number is even 
# Note: an even number divided to 2 has 0 remainder
if number %2 == 0:
    print("even number")
else:
    print("odd number")

even number

In [28]:
number = 300
# determine if number is multiple of ten
if number %2 == 0:
    print("multiple of 10")
else:
    print("not multiple of ten ")

multiple of 10

In [29]:
number = 303
# determine if number is multiple of ten
if number %2 == 0:
    print("multiple of 10")
else:
    print("not multiple of ten ")

not multiple of ten

# While Loops

In [31]:
current_number = 1 
while current_number<=5:
    print(current_number)
    current_number+=1

1
2
3
4
5

In [32]:
# can ask the user to quit
prompt = "Tell me something and I'll repeat back to you"
prompt += " \n To stop enter 'quit' "

message = ""
while message != 'quit':
    message = input(prompt)
    print(message)

Tell me something and I'll repeat back to you
 To stop enter 'quit' yo
yo
Tell me something and I'll repeat back to you
 To stop enter 'quit' hey
hey
Tell me something and I'll repeat back to you
 To stop enter 'quit' wuit
wuit
Tell me something and I'll repeat back to you
 To stop enter 'quit' quit
quit

In [33]:
# Using Flags 

prompt = "Tell me something and I'll repeat back to you"
prompt += " \n To stop enter 'quit' "

active = True
while active:
    message = input(prompt)
    if message == 'quit':
        active = False
    else:
        print (message)

Tell me something and I'll repeat back to you
 To stop enter 'quit' yo
yo
Tell me something and I'll repeat back to you
 To stop enter 'quit' hi
hi
Tell me something and I'll repeat back to you
 To stop enter 'quit' hello
hello
Tell me something and I'll repeat back to you
 To stop enter 'quit' quit

In [ ]:
# use break to exit the loop

In [35]:
while True:
    city = input(prompt)
    if city == 'quit':
        break
    else:
        print(city.title())

Tell me something and I'll repeat back to you
 To stop enter 'quit' madrid
Madrid
Tell me something and I'll repeat back to you
 To stop enter 'quit' paris
Paris
Tell me something and I'll repeat back to you
 To stop enter 'quit' quit

In [36]:
# Use continue 
current_number=  0

while current_number < 10:
    current_number +=1
    if current_number %2 == 0:
        continue
    print(current_number)

1
3
5
7
9

# remove instances of specific value from alist  of dupes

In [37]:
pets  = ['dog', 'cat', 'goldfish', 'cat', 'rabbit', 'cat']
print(pets)

while 'cat' in pets:
    pets.remove('cat')
    
print(pets)

['dog', 'cat', 'goldfish', 'cat', 'rabbit', 'cat']
['dog', 'goldfish', 'rabbit']

In [38]:
# fill dictioanry with user input 
responses = {}

polling_active = True 

while polling_active:
    name = input("What's your name? ")
    response = input('What mountain you want to climb?')
    
    #store responses in a dictionary 
    responses[name] = response

    # check if more users need to do this
    repeat = input ("Are there more people who want to do this? 'yes' or 'no' answers only")
    if repeat  == 'no':
        polling_active = False
        
print("--- Poll Results --- ")
for name, response in responses.items():
    print(f"{name.title()} likes to climb {response.title()}")

What's your name? Fin
What mountain you want to climb?Everest
Are there more people who want to do this? 'yes' or 'no' answers onlyyes
What's your name? Ron
What mountain you want to climb?Machu
Are there more people who want to do this? 'yes' or 'no' answers onlyno
--- Poll Results ---
Fin likes to climb Everest
Ron likes to climb Machu

In [40]:
a=2
def add():
    b=3
    c=a+b
    print(c)
add()

5

In [44]:
import array as arr

My_Array=arr.array('i',[1,2,3,4])
print(My_Array)

My_list=[1,'abc',1.20]
print(My_list)

array('i', [1, 2, 3, 4])
[1, 'abc', 1.2]

In [42]:
type(My_Array)

array.array

In [43]:
type(My_list)

list

In [45]:
array_1 = arr.array("i", [3, 6, 9, 12])
print(array_1)
print(type(array_1))

array('i', [3, 6, 9, 12])
<class 'array.array'>

In [49]:
class Employee:
    def __init__(self, name, age,salary):
        self.name = name
        self.age = age
        self.salary = 20000
        E1 = Employee("XYZ", 23, 20000)
        # E1 is the instance of class Employee.
        #__init__ allocates memory for E1. 
        print(E1.name)
        print(E1.age)
        print(E1.salary)

# Lambda 
An anonymous function is known as a lambda function. This function can have any number of parameters but, can have just one statement.

In [50]:
a = lambda x,y : x+y
print(a(5, 6))

11

# SELF 
 Self is an instance or an object of a class. In Python, this is explicitly included as the first parameter.  It helps to differentiate between the methods and attributes of a class with local variables.

In [51]:
import array as arr
My_Array=arr.array('i',[1,2,3,4,5])
My_Array[::-1]

array('i', [5, 4, 3, 2, 1])

# Ternary operators 

`value_if_true if condition else value_if_false`

In [52]:
"Even" if 4%2 == 0 else 'odd'

'Even'

In [53]:
# write a star in python 
def pyfunc(r):
    for x in range(r):
        print(' '*(r-x-1)+'*'*(2*x+1))    
pyfunc(9)

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************

In [54]:
# Program to check if a number is prime or not

num = 29

# To take input from the user
#num = int(input("Enter a number: "))

# define a flag variable
flag = False

# prime numbers are greater than 1
if num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

# check if flag is True
if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

29 is a prime number